/* estilos base */
body {
  font-size: 1.4rem;
}

/* cabeçalho */
.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 250px;
  width: 100%;
}
.menu {
  background-color: cadetblue;
  color: white;
  text-align: center;
  padding: 1.5rem;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
}
/* conteudo principal */
#principal-h1 {
  font-weight: bold;
  font-size: 1.8rem;
}
#principal-p {
  color: #0000009c;
}
#texto-a {
  color: cadetblue;
  text-decoration: none;
}
#texto-a:hover {
  text-decoration: underline;
}

/* responsivo adicional */
@media only screen and (max-width: 500px) {
  .principal {
    padding: 2rem 1rem !important;
  }
}
