<section class="pt-5">
  <h2 class="">
    Contato
  </h2>
  <form action="#" class="pt-5" id="formulario">
    <div class="mb-4">
      <label for="nome">Nome: <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="nome" id="nome">
    </div>
    <div class="mb-4">
      <label for="email">E-mail: <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="mb-4">
      <label for="telefone">Telefone:</label>
      <input class="form-control" type="text" name="telefone" id="telefone">
    </div>
  </form>
  <div class="text-end">
    <button class="btn btn-dark" onclick="enviaForm()">Enviar</button>
  </div>
  <div>
    <span id="respostaFormulario"></span>
  </div>
</section>