<section class="pt-5">
  <h2 class="text-center text-capitalize">
    Todas as noticias do mundo da tecnologia
  </h2>
  <section class="container-fluid d-lg-flex align-items-top justify-content-center mt-5">
    <section class="m-2 col-lg-4 p-4 border rounded text-center">
      <a href="#" class="bg-image hover-zoom">
        <img class="img-fluid h-40 d-block mx-auto" src="views/assets/img/noticia1.jpg" alt=""></a>
      <h3 class="mt-4">
        A importância das soft skills na tecnologia
      </h3>
      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ut obcaecati, ad debitis tempora quod cupiditate quaerat, sit nobis nemo vel natus? Veritatis cum, explicabo expedita temporibus eius quidem possimus?
      </p>
    </section>
    <section class="m-2 col-lg-4 p-4 border rounded text-center">
      <a href="#"><img class="img-fluid h-40 d-block mx-auto" src="views/assets/img/noticia2.jpg" alt=""></a>
      <h3 class="mt-4">
        Desenvolvedor Mobile Pleno: saiba o salário desse profissional em 2022
      </h3>
      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ut obcaecati, ad debitis tempora quod cupiditate quaerat, sit nobis nemo vel natus? Veritatis cum, explicabo expedita temporibus eius quidem possimus?
      </p>
    </section>
    <section class="m-2 col-lg-4 p-4 border rounded text-center">
      <a href="#"><img class="img-fluid h-40 d-block mx-auto" src="views/assets/img/noticia3.jpg" alt=""></a>
      <h3 class="mt-4">
        Tecnologia e lazer! Dicas para uma rotina produtiva e divertida sem sair de casa
      </h3>
      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ut obcaecati, ad debitis tempora quod cupiditate quaerat, sit nobis nemo vel natus? Veritatis cum, explicabo expedita temporibus eius quidem possimus?
      </p>
    </section>
  </section>
  <section class="ccontainer-fluid d-lg-flex align-items-top justify-content-center mt-5">
    <section class="col-lg-8 p-2 border rounded m-2">
      <h3 class="mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae id nihil neque doloremque? At aliquid dignissimos esse minus assumenda, doloremque facere neque, asperiores porro animi reiciendis aut eum harum sint.
      </p>
    </section>
    <section class="col-lg-4 p-2 border rounded m-2">
      <h3 class="mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae id nihil neque doloremque? At aliquid dignissimos esse minus assumenda, doloremque facere neque, asperiores porro animi reiciendis aut eum harum sint.
      </p>
    </section>
  </section>
</section>