<section class="pt-5">
  <h2>
    Nossos produtos e serviços
  </h2>
  <section class="d-lg-flex flex-column justify-content-center">
    <div class="d-lg-flex justify-content-center mt-5 border p-2">
      <img class="img-fluid rounded mx-auto" src="https://picsum.photos/id/237/200/300" alt="">
      <p class="m-4 mt-0 mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt culpa tenetur inventore. Ipsam omnis consequuntur dolor atque pariatur minus cupiditate, tempore accusamus tenetur labore reiciendis debitis ex dignissimos ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae earum mollitia, deleniti aliquam amet placeat. Deleniti illo exercitationem, sapiente accusantium aliquid, rerum voluptatibus soluta officiis quasi, eum obcaecati ipsam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis eveniet eligendi repellendus ipsam illum ea sapiente incidunt quia omnis accusamus odio ullam doloremque asperiores harum, mollitia soluta porro dicta?
      </p>
    </div>
    <div class="d-lg-flex justify-content-center mt-4 border p-2">
      <p class="m-4 mt-0 mb-0 text-end">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt culpa tenetur inventore. Ipsam omnis consequuntur dolor atque pariatur minus cupiditate, tempore accusamus tenetur labore reiciendis debitis ex dignissimos ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae earum mollitia, deleniti aliquam amet placeat. Deleniti illo exercitationem, sapiente accusantium aliquid, rerum voluptatibus soluta officiis quasi, eum obcaecati ipsam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis eveniet eligendi repellendus ipsam illum ea sapiente incidunt quia omnis accusamus odio ullam doloremque asperiores harum, mollitia soluta porro dicta?
      </p>
      <img class="img-fluid rounded mx-auto" src="https://picsum.photos/seed/picsum/200/300" alt="">
    </div>
    <div class="d-lg-flex justify-content-center mt-4 border p-2 rounded">
      <img class="img-fluid rounded mx-auto" src="https://picsum.photos/200/300?grayscale" alt="">
      <p class="m-4 mt-0 mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt culpa tenetur inventore. Ipsam omnis consequuntur dolor atque pariatur minus cupiditate, tempore accusamus tenetur labore reiciendis debitis ex dignissimos ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae earum mollitia, deleniti aliquam amet placeat. Deleniti illo exercitationem, sapiente accusantium aliquid, rerum voluptatibus soluta officiis quasi, eum obcaecati ipsam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis eveniet eligendi repellendus ipsam illum ea sapiente incidunt quia omnis accusamus odio ullam doloremque asperiores harum, mollitia soluta porro dicta?
      </p>
    </div>
    <div class="d-lg-flex justify-content-center mt-4 border p-2">
      <p class="m-4 mt-0 mb-0 text-end">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt culpa tenetur inventore. Ipsam omnis consequuntur dolor atque pariatur minus cupiditate, tempore accusamus tenetur labore reiciendis debitis ex dignissimos ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae earum mollitia, deleniti aliquam amet placeat. Deleniti illo exercitationem, sapiente accusantium aliquid, rerum voluptatibus soluta officiis quasi, eum obcaecati ipsam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis eveniet eligendi repellendus ipsam illum ea sapiente incidunt quia omnis accusamus odio ullam doloremque asperiores harum, mollitia soluta porro dicta?
      </p>
      <img class="img-fluid rounded mx-auto" src="https://picsum.photos/200/300/?blur" alt="">
    </div>
  </section>
</section>