<section class="pt-5">
  <h2>
    Lorem, ipsum dolor sit amet
  </h2>
  <section class="pt-4">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam in cupiditate, aliquam laboriosam animi ducimus quidem quibusdam necessitatibus dolore, corporis sapiente incidunt praesentium dolorem quo ullam provident aut magni non.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam architecto labore ipsum quibusdam molestias asperiores, ab inventore perferendis sit quod expedita ipsam facere in facilis ullam velit quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officia nisi soluta aliquam magni optio facere natus atque quidem. Atque voluptatibus aut minima numquam amet earum ad doloremque commodi nisi!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam in cupiditate, aliquam laboriosam animi ducimus quidem quibusdam necessitatibus dolore, corporis sapiente incidunt praesentium dolorem quo ullam provident aut magni non.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam architecto labore ipsum quibusdam molestias asperiores, ab inventore perferendis sit quod expedita ipsam facere in facilis ullam velit quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officia nisi soluta aliquam magni optio facere natus atque quidem. Atque voluptatibus aut minima numquam amet earum ad doloremque commodi nisi!
    </p>
  </section>
</section>