.productsEditContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer > h2 {
  font-size: 2rem;
}

.productImage {
  width: 150px;
  height: 150px;
}
