<h1>
  Cidade 01
</h1>
<figure>
  <img class="img-fluid" src="https://source.unsplash.com/random" alt="Imagem aleatória da cidade">
  <legend>
    Imagem aleatória da cidade
  </legend>
</figure>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam corrupti voluptatibus officiis voluptate amet nobis, quidem esse autem nisi itaque rerum dignissimos error laboriosam culpa fugit sit, aliquam porro ad!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam modi, sit labore ducimus ea magni molestias, voluptatibus facilis possimus, molestiae ad corrupti illo rem in tenetur hic reprehenderit blanditiis.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt ad ipsam laudantium ex suscipit vitae, velit nihil unde dolorem recusandae nobis! Veritatis non adipisci dolores maiores architecto dolore quis!
</p>