<h2 class="text-capitalize mx-4 mb-5">
  <i class="bi bi-film me-2"></i>Em Breve
</h2>
<div class="d-md-flex justify-content-around mb-5">
  <div class="col-md-3 text-center">
    <div class="em-breve-1 rounded"></div>
    <h3 class="pt-2">Thor - Amor e Trovão</h3>
    <p id="classificacao-1"><i class="bi bi-calendar-event me-2"></i>De 21/05/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-2 rounded"></div>
    <h3 class="pt-2">O lendário Cão Guerreiro</h3>
    <p id="classificacao-2">De 14/07/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-3 rounded"></div>
    <h3 class="pt-2">O Telefone Preto</h3>
    <p id="classificacao-3">De 21/07/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-4 rounded"></div>
    <h3 class="pt-2">DC Liga dos Super Pets</h3>
    <p id="classificacao-4">De 28/07/2022 até</p>
  </div>
</div>
<div class="d-md-flex justify-content-around">
  <div class="col-md-3 text-center">
    <div class="em-breve-5 rounded"></div>
    <h3 class="pt-2">Não! Não olhe!</h3>
    <p id="classificacao-5">De 18/08/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-6 rounded"></div>
    <h3 class="pt-2">Adão Negro</h3>
    <p id="classificacao-6">De 20/10/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-7 rounded"></div>
    <h3 class="pt-2">Avatar - O caminho da água</h3>
    <p id="classificacao-7">De 15/12/2022 até</p>
  </div>
  <div class="col-md-3 text-center">
    <div class="em-breve-8 rounded"></div>
    <h3 class="pt-2">Gato de Botas 2</h3>
    <p id="classificacao-8">De 12/01/2023 até</p>
  </div>
</div>