<div class="row">
  <div class="col-md-4 p-5 text-center">
    <img class="mb-4 img-fluid" src="views/assets/img/cine-removebg-preview.svg" alt="">
    <p class="mx-5">©Copyright 2022 Ygor Evaldt - Todos os direitos reservados.</p>
  </div>
  <div class="col-md-4 p-5 d-flex justify-content-center">
    <nav>
      <ul>
        <li>
          <a class="nav-link text-white" href="#cabecalho">Inicio</a>
        </li>
        <li>
          <a class="nav-link text-white" href="#filmes_disponiveis">Filmes disponíveis</a>
        </li>
        <li>
          <a class="nav-link text-white" href="#programacao">Programação</a>
        </li>
        <li>
          <a class="nav-link text-white" href="https://api.whatsapp.com/send?phone=5551983313468" target="_blank">Entre em contato</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-4 p-5 text-center">
    <h3>Redes sociais</h3>
    <ul class="d-flex nav justify-content-center">
      <li>
        <a class="nav-link text-white" href="https://www.linkedin.com/in/ygor-evaldt-6479b2220/" target="_blank"><i class="bi bi-linkedin"></i></i></a>
      </li>
      <li>
        <a class="nav-link text-white" href="https://github.com/Ygor-Evaldt-dev" target="_blank"><i class="bi bi-github"></i></a>
      </li>
      <li>
        <a class="nav-link text-white" href="https://www.instagram.com/ygorevaldt_/" target="_blank"><i class="bi bi-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>