<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a id="menuHome" class="navbar-brand" href="home.html">
      <img id="logo" class="img-fluid" src="views/assets/img/cine-removebg-preview.svg" alt="cinedev">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <i class="fas fa-bars"></i>
    </button>
    <div class=" collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item text-end">
          <a id="menuSobre" class="nav-link text-white" href="#">Sobre nós</a>
        </li>
        <li class="nav-item text-end">
          <a id="menuProdutos" class="nav-link text-white" href="#">Produtos e serviços</a>
        </li>
        <li class="nav-item text-end">
          <a id="menuContato" class="nav-link text-white" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>