<head>
  <title>Home</title>
</head>
<!-- filmes disponíveis -->
<section id="filmes_disponiveis" class="container mb-5">
  <h2 class="text-capitalize mx-4 mb-5">
    <i class="bi bi-film me-2"></i>filmes disponíveis
  </h2>
  <div class="d-md-flex justify-content-around">
    <div class="col-md-3 text-center">
      <div class="bg-image-1 rounded"></div>
      <h3 class="pt-2">Top Gun - Maverick</h3>
      <p id="disponibilidade1">De 21/05/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="bg-image-2 rounded"></div>
      <h3 class="pt-2">THOR - Amor e Trovão</h3>
      <p id="disponibilidade2">De 07/07/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="bg-image-3 rounded"></div>
      <h3 class="pt-2">Lightyear</h3>
      <p id="disponibilidade3">De 16/06/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="bg-image-4 rounded"></div>
      <h3 class="pt-2">Minions 2 A Origem de Gru</h3>
      <p id="disponibilidade4">De 30/06/2022 até</p>
    </div>
  </div>
</section>
<!-- Programação -->
<section id="programacao" class="container mb-5">
  <h2 class="text-capitalize mx-4 mb-5">
    <i class="bi bi-film me-2"></i>Programação
  </h2>
  <div class="text-center mt-5 mb-5">
    <h2>
      Programação de 30 de junho à 05 de julho
    </h2>
    <p>Aberto de terça-feira à domingo</p>
  </div>
  <div class="row">

    <div class="pb-5 col-md-4">
      <h5><i class="bi bi-camera-reels"></i> 3D | Sala 1 | Dublado</h5>
      <span class="display-4">15:00</span>
      <h4 id="nome-filme">Minions 2 - A Origem de Gru</h4>
    </div>
    <div class="pb-5 col-md-4">
      <h5><i class="bi bi-camera-reels"></i> 3D | Sala 1 | Dublado</h5>
      <span class="display-4">15:30</span>
      <h4 id="nome-filme">Lightyear</h4>
    </div>
    <div class="pb-5 col-md-4">
      <h5><i class="bi bi-camera-reels"></i> 3D | Sala 1 | Dublado</h5>
      <span class="display-4">17:30</span>
      <h4 id="nome-filme">Minions 2 - A Origem de Gru</h4>
    </div>
  </div>
  <div class="row">
    <div class="pb-5 col-md-4">
      <h5><i class="bi bi-camera-reels"></i> 3D | Sala 1 | Dublado</h5>
      <span class="display-4">20:00</span>
      <h4 id="nome-filme">Minions 2 - A Origem de Gru</h4>
    </div>
    <div class="pb-5 col-md-4">
      <h5><i class="bi bi-camera-reels"></i> 3D | Sala 1 | Dublado</h5>
      <span class="display-4">21:30</span>
      <h4 id="nome-filme">Top Gun - Maverick</h4>
    </div>
  </div>
</section>
<!-- Em breve -->
<section id="em_breve" class="container mb-5">
  <h2 class="text-capitalize mx-4 mb-5">
    <i class="bi bi-film me-2"></i>Em Breve
  </h2>
  <div class="d-md-flex justify-content-around mb-5">
    <div class="col-md-3 text-center">
      <div class="em-breve-1 rounded"></div>
      <h3 class="pt-2">Thor - Amor e Trovão</h3>
      <p id="classificacao-1"><i class="bi bi-calendar-event me-2"></i>De 21/05/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-2 rounded"></div>
      <h3 class="pt-2">O lendário Cão Guerreiro</h3>
      <p id="classificacao-2">De 14/07/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-3 rounded"></div>
      <h3 class="pt-2">O Telefone Preto</h3>
      <p id="classificacao-3">De 21/07/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-4 rounded"></div>
      <h3 class="pt-2">DC Liga dos Super Pets</h3>
      <p id="classificacao-4">De 28/07/2022 até</p>
    </div>
  </div>
  <div class="d-md-flex justify-content-around">
    <div class="col-md-3 text-center">
      <div class="em-breve-5 rounded"></div>
      <h3 class="pt-2">Não! Não olhe!</h3>
      <p id="classificacao-5">De 18/08/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-6 rounded"></div>
      <h3 class="pt-2">Adão Negro</h3>
      <p id="classificacao-6">De 20/10/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-7 rounded"></div>
      <h3 class="pt-2">Avatar - O caminho da água</h3>
      <p id="classificacao-7">De 15/12/2022 até</p>
    </div>
    <div class="col-md-3 text-center">
      <div class="em-breve-8 rounded"></div>
      <h3 class="pt-2">Gato de Botas 2</h3>
      <p id="classificacao-8">De 12/01/2023 até</p>
    </div>
  </div>
</section>
<!-- perguntas frequentes -->
<section id="perguntas_frequentes" class="container mb-5"></section>
<!-- contato -->
<section id="contato" class="container mb-5"></section>