<div class="text-center">
  <span><i class="bi bi-film display-4"></i></span>
  <h2 class="mt-4 mb-5">
    Perguntas Frequentes
  </h2>
  <div class="container mt-3 mb-5">
    <div class="list-group">
      <a id="pergunta1" href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta1()">Por que um filme que estreou nos cinemas não chegou ao Cine Dev?</a>
      <span class="bg-danger" id="resp_pergunta1"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta2()">Como sei quando estreia um filme?</a>
      <span class="bg-danger" id="resp_pergunta2"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta3()">Onde consultar a programação?</a>
      <span class="bg-danger" id="resp_pergunta3"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta4()">Por que horários de filmes podem sofrer alterações?</a>
      <span class="bg-danger" id="resp_pergunta4"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta5()">Quanto tempo um filme fica em cartaz?</a>
      <span class="bg-danger" id="resp_pergunta5"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta6()">Quais são as formas de pagamento?</a>
      <span class="bg-danger" id="resp_pergunta6"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta7()">O que são sessões 3D?</a>
      <span class="bg-danger" id="resp_pergunta7"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta8()">É permitido entrar na sala com alimentos de outros locais?</a>
      <span class="bg-danger" id="resp_pergunta8"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta9()">Quem tem direito à meia-entrada? Como comprovar?</a>
      <span class="bg-danger" id="resp_pergunta9"></span>
      <a href="#perguntas_frequentes" class="list-group-item list-group-item-action" onclick="pergunta10()">Crianças pagam ingresso?</a>
      <span class="bg-danger" id="resp_pergunta10"></span>
    </div>
  </div>
</div>
<div class="text-center">
  <span><i class="bi bi-camera-reels-fill display-4"></i></i></span>
  <h2 class="mt-4 mb-5">
    Ainda restou alguma dúvida?
  </h2>
  <a class="btn btn-danger p-4 pt-2 pb-2" href="https://www.linkedin.com/in/ygor-evaldt-6479b2220/" target="_blank">
    Entre em contato
  </a>
</div>
<script src="views/assets/js/perguntas.js"></script>