.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.svg {
  width: 20rem;
  height: 20rem;
}
