body {
  background-image: url("../img/newspaper-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* cabeçalho */
.header {
  background-color: #ff7d55;
  padding: 2rem 0rem;
  box-shadow: 0rem 0rem  0.5rem #000000;

}
.header h1 {
  font-weight: 700;
}

.conteudo-principal {
  max-width: 85rem;
  background-color: #ffffff;
  border-left: solid 1px #929292;
  border-right: solid 1px #929292;
}

/* coluna 1 */
.section1-col-1, .section1-col-2 {
  border-bottom: 1px rgb(219, 219, 219) solid;
  padding: 2rem 0rem 0.5rem 0rem;
}
.section-col-1{
  border-bottom: 1px rgb(219, 219, 219) solid;
  padding: 0.5rem 0rem
}
.coluna1-h2 {
  color: #ff7d55;
  font-weight: 700;
}
.coluna1-h2:hover {
  color: #ff7d55bd;
}
.coluna1-paragrafo {
  font-weight: bold;
  line-height: 1.5rem;
}

/* Coluna 2 */
.section-col-2{
  border-bottom: 1px rgb(219, 219, 219) solid;
  padding: 2rem 0rem
}
.coluna2-h2 {
  font-weight: bold;
  font-size: medium;
}
.coluna2-h3 {
  font-size: medium;
  font-weight: 700;
  color: #f1b15d;
  text-transform: uppercase;
}
.coluna2-h3:hover {
  color: #f1b15dd5;
}
.article-col-2{
  padding: 1rem 0rem;
  border-bottom: 1px rgb(219, 219, 219) solid;
}
.article-coluna2-h3 {
  font-size: medium;
  font-weight: 700;
  color: #ff7d55;
  text-transform: uppercase;
}
.article-coluna2-paragraphy {
  color: #929292;
  font-weight: 700;
}
.article2-col-2 {
  background-color: #ff7d551e;
  width: 100%;
  padding: 2rem;
  margin: 0rem;
}
.article-col-2-h3 {
  font-weight: 700;
}
.article-coluna2-h3:hover {
  color: #ff7d55bd;
}
/* tamanho das imagens em circulo */
.rounded-circle {
  max-width: 4rem;
  max-height: 4rem;
}

/* footer */
.footer {
  background-color: #ff7d55f8;
  padding: 2rem 6rem;
  box-shadow: 0rem 0rem  0.5rem #000000;
}
.footer-h2 {
  font-weight: 800;
}
i:hover {
  color: #ffffff !important;
}
.contato:hover {
  color: #000000 !important;
}
button:hover {
  display: grid;
  background-color: #ffffff !important;
}
button a:hover {
  color: #000000 !important;
}

@media only screen and (max-width: 700px) {
  .footer {
    padding: 2rem;
  }
}