/* ESTILOS BASE */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f1f1f1;
}

.tudo {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d1d1d1;
}

/* CABEÇALHO */
header h1 {
  background-color: #82bcff;
  color: #fff;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
}
.foto {
  display: grid;
  content: " ";
  background-image: url("../img/foto-perfil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.cabeçalho {
  display: flex;
  padding: 30px 0px;
  align-items: center;
  gap: 30px;
}
.contato {
  display: grid;
  gap: 10px;
}
.contato-item {
  display: flex;
  align-items: center;
}
.contato-item h2 {
  text-transform: uppercase;
  font-size: 16px;
}
.contato-endereço {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contato-endereço h2 {
  text-transform: uppercase;
  font-size: 16px;
}

/* INFORMAÇÕES */
.informaçoes {
  display: grid;
  padding: 20px 0px;
  gap: 20px;
}

/* INFORMAÇÕES-OBJETIVO */
.informaçoes-section {
  display: grid;
  gap: 20px;
}
/* TITULO H2 - OBJETIVO / FORMAÇÃO */
.informaçoes-h2 h2 {
  font-weight: lighter;
  text-transform: uppercase;
}
.informaçoes-h2 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #4299fd;
}
.informaçoes-h2-detalhe {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #82bcff;
}

/* INFORMAÇÕES-OBJETIVO */
.informaçoes-objetivo {
  display: grid;
  gap: 10px;
}
.tecnologias {
  font-weight: 700;
}

/* INFORMAÇÕES-FORMAÇÃO */
.informaçoes-section-item {
  display: grid;
  gap: 4px;
}
.titulo-h3 {
  font-size: 1rem;
}

/* QUALIDADES */
.qualidades {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
  align-items: flex-start;
}
.qualidades::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #4299fd;
  position: absolute;
  left: 50%;
}
.qualidades-item {
  display: grid;
  gap: 10px;
}
.qualidades-item-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qualidades-item-container {
  position: relative;
  border-top: solid 2px #4299fd;
  padding: 10px;
  margin-bottom: 30px;
}
.qualidades-item-section h4 {
  padding: 3px 0px;
}
.points {
  display: flex;

  gap: 10px;
}
.pontos {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #4299fd;
  border-radius: 50%;
  /* display: grid; */
}

/* IDIOMAS */
.idiomas {
  display: grid;
  gap: 10px;
}
.idioma {
  display: flex;
  gap: 6px;
  padding: 5px 0px;
}

/* EXPERIÊNCIA */
.experiencia {
  display: grid;
  gap: 10px;
}
.experiencia-item-container {
  position: relative;
  border-top: solid 2px #4299fd;
  padding: 20px 0px;
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}
.experiencia-section {
  display: grid;
  gap: 10px;
}
.experiencia-empresa {
  display: grid;
  gap: 2px;
}

/* RESPONSIVO */

@media (max-width: 900px) {
  /* TUDO */
  .tudo {
    padding: 10px;
  }
  /* CABEÇALHO */
  header h1 {
    font-size: 1.2rem;
    padding: 10px;
  }
  /* QUALIDADES */
  .cabeçalho {
    display: grid;
    justify-items: center;
  }
  .qualidades {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .qualidades::before {
    content: none;
  }
  .qualidades-item-container {
    margin-bottom: 2px;
  }
  /* PONTOS */
  .qualidades-item-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .points {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
