/* estilosBase */
* {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
img,
a,
span {
  display: block;
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* cabecalho */
.cabecalho-menu {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: #f7f7f7;
}
.menu-nome a {
  color: #8b8b8b;
  letter-spacing: 0.2rem;
  text-align: center;
}
.menu-navegacao {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.menu-navegacao li a {
  color: #8b8b8b;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.menu-navegacao li a:hover {
  color: #000000;
}
.menu-nome h1 a:hover {
  color: #000000;
}

/*Sobre */
.sobre {
  background-color: #00dbbe;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.sobre h2 {
  text-align: center;
  color: #ffffff;
  padding-top: 0.5rem;
}
.foto-perfil {
  content: "";
  width: 15rem;
  height: 15rem;
  background-image: url("../img/foto-perfil.jpg");
  background-size: contain;
  background-repeat: unset;
  background-position: center;
  border-radius: 50%;
}
.sobre p {
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  text-align: center;
}

/* conteudoPrincipal */
/* comoEncontrar */
.conteudo-section {
  background-color: #3f3f3fbe;
  padding: 3rem 1rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.conteudo-section h2 {
  color: #ffffff;
  text-align: center;
  padding-bottom: 1rem;
}
.conteudo-section p {
  color: #ffffff;
  text-align: center;
}
.conteudo-section a {
  text-align: center;
  background-color: #ffffff;
  color: #3f3f3f;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  box-shadow: 0rem 0rem 10px #464545;
}

/* trabalhos */
.conteudo-trabalhos {
  display: grid;
  justify-items: center;
  padding: 4rem 1rem;
  margin-bottom: 4rem;
  gap: 3rem;
}
.conteudo-trabalhos h2 {
  text-align: center;
}
.lista-trabalhos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
}
.lista-trabalhos h3 {
  padding-bottom: 1rem;
}
.trabalhos-img {
  content: "";
  width: 24rem;
  height: 12rem;
  background-image: url("../img/desenvolvedor-softare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem 0.2rem #000000;
}
.trabalhos-img2 {
  content: "";
  width: 22rem;
  height: 14rem;
  background-image: url("../img/consultoria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem 0.2rem #000000;
}
.trabalhos-img3 {
  content: "";
  width: 22rem;
  height: 16rem;
  background-image: url("../img/web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem 0.2rem #000000;
}

/* rodape */
.rodape {
  background-color: #242424;
  height: 6rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.rodape p {
  color: #ffffff;
  font-size: larger;
}
.rodape a {
  color: #00c3ff;
}

/* resposivo */
@media only screen and (max-width: 800px) {
  .cabecalho-menu {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    gap: 1rem;
  }
  .menu-navegacao {
    gap: 1rem;
    align-content: center;
  }
  .menu-navegacao li a {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .menu-navegacao li a {
    padding: 0rem;
  }
  .conteudo-trabalhos {
    padding: 2rem 1rem;
    margin: 1rem 0rem;
  }
  .lista-trabalhos {
    flex-direction: column;
  }
  .lista-trabalhos h3 {
    text-align: center;
  }
  .lista-trabalhos li {
    display: grid;
    justify-items: center;
  }
  .trabalhos-img,
  .trabalhos-img2,
  .trabalhos-img3 {
    width: 20.7rem;
    height: 10rem;
  }
  .rodape {
    flex-direction: column;
  }
}
