/* estilosBase */
* {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  list-style: none;
}
a {
  display: block;
}
body {
  display: grid;
}

/* cabecalho */
.cabecalho {
  background-color: #000000;
  height: 10rem;
  display: grid;
  align-items: center;
}
.cabecalho h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
}

/* conteudoPrincipal */
.conteudo {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

/* cidades */
.cidades-section {
  background-color: #e6e6e6;
  padding: 2rem 1rem;
}
.conteudo-cidades {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.conteudo-cidades a {
  font-size: 1.2rem;
  color: #0000ff;
}

/* cidade */
.conteudo-cidade {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}
.cidade-paragrafo-negrito {
  font-weight: 700;
}

/* rodape */
.rodape {
  background-color: #9c9c9c;
  display: grid;
  align-items: center;
  height: 4rem;
}
.rodape p {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}
