.productTable {
  width: 100%;
  border: solid 1px var(--gray-300);
  border-collapse: collapse;
}

.productTable thead {
  background-color: var(--green-500);
  font-weight: bold;
  color: var(--white);
}

.productTable > thead > tr,
.productTable > tbody > tr {
  text-align: left;
  border: solid 1px var(--gray-400);
}

.productTable > thead > tr > th,
.productTable > tbody > tr > td {
  padding: 1rem;
  border: solid 1px var(--gray-400);
}

.productTable > tbody > tr:hover {
  background-color: var(--gray-100);
}

.actionButtonHeader {
  text-align: center;
}

.actionButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.actionButtons > a,
.actionButtons > button {
  color: var(--gray-600);
  background-color: transparent;
}

.actionButtons > button {
  color: var(--red-500);
}
