.asideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--gray-700);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ulContainer {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: var(--gray-300);
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

.navLink:hover {
  color: var(--green-500);
}
